*{
    padding: 0px;
    margin:0px;
}

body> section{
margin: 50px 140px;
}
/* Banner section style*/

.banner-section{
  
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/bannerimg.png');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-heading{
    color: #fff;
    font-family: Merriweather;
    width: 50%;
}
.banner-heading>h3{
    font-size: 32px;
    font-weight: 400;
}
.banner-heading>h1{
    font-size: 72px;
    font-weight: 900;
}

/* offer section style */
.offer-section{
    text-align: center;
}
.offer-quantity{
    color:#f00;
    font-size: 88px;
    font-weight: 700;
}
.offer-tittle{
    color:#f00;
    font-size: 24px;
    font-weight: 500;
}
.offer-heading{
    font-size: 48;
    font-weight: 700;
}
img{
    height:500px;
}

/* Welcome section style */
.welcome-section{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./resources/Vectorrr.png');
    background-repeat:no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
}

.welcome-heading{
    color:#fff;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 10px;
}

.welcome-details{
    color:antiquewhite;
    font-size: 18;
    margin-bottom: 10px;
}

.join-button{
    font-size: 20px;
    font-weight:700px;

}
.welcome-text-part{
    margin-left:50px;
    width:50%;
}


/* portfolio section style */
.product-pic{
    display: flex;
    flex-wrap: wrap;
}
.product-pic>img{
    width:424px;
    height:450px;
    border-radius: 10px;
    margin: 20px;
}
.portfolio-title{
    color:#f00;
    font-size: 24;
}
.portfolio-heading{
    color:#070211;
    font-size: 48px;
    font-weight: 900;
}
.portfolio-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    width: 70%;
}


