*{
    padding: 0px;
    margin:0px;
}

body> section, .footer-part{
margin: 50px 140px;
}
/* Banner section style*/

.banner-section{
  
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/bannerimg.png');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-heading{
    color: #fff;
    font-family: Merriweather;
    width: 50%;
}
.banner-heading>h3{
    font-size: 32px;
    font-weight: 400;
}
.banner-heading>h1{
    font-size: 72px;
    font-weight: 900;
}

/* offer section style */
.offer-section{
    text-align: center;
}
.offer-quantity{
    color:#f00;
    font-size: 88px;
    font-weight: 700;
}
.offer-tittle{
    color:#f00;
    font-size: 24px;
    font-weight: 500;
}
.offer-heading{
    font-size: 48;
    font-weight: 700;
}
img{
    height:500px;
}

/* Welcome section style */
.welcome-section{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./resources/Vectorrr.png');
    background-repeat:no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
}

.welcome-heading{
    color:#fff;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 10px;
}

.welcome-details{
    color:antiquewhite;
    font-size: 18;
    margin-bottom: 10px;
}

.join-button{
    font-size: 20px;
    font-weight:700px;

}
.welcome-text-part{
    margin-left:50px;
    width:50%;
}


/* portfolio section style */
.product-pic{
    display: flex;
    flex-wrap: wrap;
}
.product-pic>img{
    width:424px;
    height:450px;
    border-radius: 10px;
    margin: 20px;
}
.portfolio-title{
    color:#f00;
    font-size: 24;
}
.portfolio-heading{
    color:#070211;
    font-size: 48px;
    font-weight: 900;
}
.portfolio-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    width: 70%;
}

/* subscription -section style */

.subscribe-section{
    height:600px; 
    margin: 30 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mail-pic{
    height:150px;
}
.subscription-title{
font-size: 48px;
font-weight: 900;
}
.subcription-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-top: 10px;
}
.input-group{
    margin-top: 20px;
}
.input-group>input{
    padding:24px;
}
.input-mail{
    border: none;
border-radius: 50px 0px 0px 50px;
}
.input-button{
    border:none;
    border-radius: 0px 50px 50px 0px;
    background-color: #f00;
}

/* Footer part style */


footer{
    background-color: #070211;
    height:600px;
    text-align: center;
}
.address{
   
    margin-top: 40px;
}
.address-part{
    display: flex;
    justify-content: space-between;
    
}
.phone-website img{
    width:24px;
    height:24px;
    color: #fff;

}
.phone-website{
    margin-top: 40px;
}

span{
    color: #fff;
}
.address-details{
    color:#fff
}
 hr{
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .logo-part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #fff;

 }
 .logo-part>div>img{
    width: 64px;
    height:64px;
 }

 .copyright-part{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 120px;
 }
 .copyright-part>p{
    color: #fff;
 }